<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.HMT.mood.dao.IDiaryDAO">
	<resultMap type="com.HMT.mood.model.DiaryVO" id="diaryResult">
		<result property="diaryNo" column="diaryNo" />
		<result property="diaryDate" column="diaryDate" />
		<result property="diaryEmoji" column="diaryEmoji" />
		<result property="diaryText" column="diaryText" />
		<result property="memNo" column="memNo" />
	</resultMap>
	
	<!-- 일기 목록 조회 -->
	<select id="showDiaryList" resultType="com.HMT.mood.model.DiaryVO" parameterType="int">
		SELECT * FROM diary WHERE memNo=#{memNo} ORDER BY diaryDate DESC
	</select>
	
	<!-- 일기 존재 여부 조회 -->
	<select id="haveDiary" resultType="Integer" parameterType="hashmap">
		SELECT diaryNo FROM diary WHERE memNo=#{memNo} AND diaryDate=#{diaryDate}
	</select>
	
	<!-- 일기 작성 -->
	<insert id="insertDiary" parameterType="hashmap">
		INSERT INTO diary (diaryDate, diaryEmoji, diaryText, memNo) VALUES (#{diaryDate},#{diaryEmoji},#{diaryText},#{memNo})
	</insert>
	
	<!-- 일기 상세 조회 : diaryNo -->
	<select id="showDetailDiaryNo" resultType="com.HMT.mood.model.DiaryVO" parameterType="int">
		SELECT * FROM diary WHERE diaryNo=#{diaryNo}
	</select>

	<!-- 일기 상세 조회 : date, memNo -->
	<select id="showDetailDiaryMap" resultType="com.HMT.mood.model.DiaryVO" parameterType="hashmap">
		SELECT * FROM diary WHERE memNo=#{memNo} AND diaryDate=#{diaryDate}
	</select>
	
	<!-- 일기 수정 -->
	<update id="updateDiary" parameterType="hashmap">
		UPDATE diary SET diaryDate=#{diaryDate}, diaryEmoji=#{diaryEmoji}, diaryText=#{diaryText} WHERE diaryNo=#{diaryNo}
	</update>
	
	<!-- 일기 삭제 -->
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM diary WHERE diaryNo=#{diaryNo}
	</delete>
	
</mapper>